h1 {
  color:purple;
  font-size: 300%;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
}

p {
  font-family: verdana;
  text-indent: 50px;
  margin-left: 10px;
  color: red;
}

#content {
  background-color: lightblue;
  width: 1400px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}
